  {{#paper-toolbar as |toolbar|}}
     {{#toolbar.tools}}
     {{#paper-sidenav-toggle name="left" as |toggleAction|}}
       {{#paper-button  classNames="hide-gt-sm" onClick=(action toggleAction)}}
        {{paper-icon "menu"}}
       {{/paper-button}}
     {{/paper-sidenav-toggle}}
       <h2>Generatic</h2>
       <span class="flex"></span>
      {{layout.authorization-ui}} 
       {{#paper-button mini=true aria-label="Favorite"}}
        {{paper-icon "favorite"}}
       {{/paper-button}}
     {{/toolbar.tools}}
   {{/paper-toolbar}}
